<li class="user-profile header-notification">
  <a [routerLink]="['/']">
    <img src="{{image}}" alt="User-Profile-Image">
    <span>{{user}}</span>
    <i class="ti-angle-down"></i>
  </a>
  <ul class="show-notification profile-notification">
    <li>
      <a href="javascript:">
        <i class="ti-settings"></i> Settings
      </a>
    </li>
    <li>
      <a href="javascript:">
        <i class="ti-user"></i> Profile
      </a>
    </li>
    <li>
      <a href="javascript:">
        <i class="ti-email"></i> My Messages
      </a>
    </li>
    <li>
      <a [routerLink]="['/authentication/lock-screen']" target="_blank">
        <i class="ti-lock"></i> Lock Screen
      </a>
    </li>
    <li>
      <a [routerLink]="['/']">
        <i class="ti-layout-sidebar-left"></i> Logout
      </a>
    </li>
  </ul>
</li>